/* Important */

body {
    text-decoration: none;
    color: black;
    text-align: justify;
    background-color: azure;
}

div {
    background-image: url(background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 7px -8px 0px -8px;    
}

/* Logo */

.logo img {
    width: 60px;
    margin-left: 13px;
    margin-top: 2px;
}

/* Navigation */

.navigationbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    padding: 4px;
    border-color: rgb(102, 192, 141);
    background-color: rgb(102, 192, 141);
    margin: -8px;
    width: 100.15%;
}
  
.navigation {
    float: right;
  }
  
.navigation a {
    display: block;
    background-color:azure;
    text-align: center;
    border-style: solid;
    padding: 15px 35px;
    color: black;
    border-color:rgb(102, 192, 141);
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 3px 10px;
}
.navigation a:active,
.navigation a:hover {
    background-color: rgb(102, 192, 141);
    border-color: azure;
    color: azure;
    border-radius: 10px;
    transition-duration: 0.3s;
}

/* Title */

.title h1 {
    color: azure;
    font-size: 100px;
    float: right;
    margin: 150px 150px;
    font-family: monospace;
    text-align: right;
}

.title p {
    color: azure;
    font-size: 20px;
    float: right;
    margin: 290px -800px 0px 0px;
    font-family: monospace;
    text-align: right;
}

/* General Overview */

.overviewtitle {
    border-style: solid;
    border-color: rgb(102, 192, 141);
    border-radius: 10px;
    margin-left: 10%;
    padding: 10px;
    font-size: 30px;
    font-family: monospace;
    display: inline-block;
}

.overviewtext {
    font-size: 16px;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 30% 50px 10%;
    display: inline-block;
}
