/* Important */

body {
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: azure;
}

div {
    background-image: url(background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 7px -8px 0px -8px;    
}

/* Logo */

.logo img {
    width: 60px;
    margin-left: -675px;
    margin-top: 2px;
}

/* Navigation */

.navigationbar {
    list-style-type: none;
    overflow: hidden;
    border-style: solid;
    padding: 4px;
    border-color: rgb(207, 63, 70);
    background-color: rgb(207, 63, 70);
    margin: -8px;
    width: 100.15%;
}
  
.navigation {
    float: right;
  }
  
.navigation a {
    display: block;
    background-color:azure;
    text-align: center;
    border-style: solid;
    padding: 15px 35px;
    color: black;
    border-color:rgb(207, 63, 70);
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 3px 10px;
}
.navigation a:active,
.navigation a:hover {
    background-color: rgb(207, 63, 70);
    border-color: azure;
    color: azure;
    border-radius: 10px;
    transition-duration: 0.3s;
}

/* Title */

.title h1 {
    color: azure;
    font-size: 120px;
    float: right;
    margin: 150px 265px 0px 0px;
    font-family: monospace;
    text-align: center;
    
}

.title p {
    color: azure;
    font-size: 20px;
    float: right;
    margin: 350px -650px 0px 0px;
    font-family: monospace;
    text-align: center;
}

/* Infection Procedure */

.techniquestitle {
    border-style: solid;
    border-color: rgb(207, 63, 70);
    border-radius: 10px;
    display:block;
    padding: 10px;
    font-size: 30px;
    font-family: monospace;
    width: 400px;
}

.techniquestext {
    line-height: 40px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 200px 200px 0px 200px;
    float: left;
}